<footer class="wrap border-top py-2 mt-2">
    <div class="container py-4">
        <p class="mb-0">
            {{ "now" | date('Y') }} <i class="bi bi-c-circle"></i> SnowTricks - Tous droits réservés 
        </p>
    </div>
</footer>
