<header>
    <nav id="navbar" class="shadow navbar navbar-expand-md position-fixed w-100 top-0 bg-primary bg-opacity-50 z-index-5 py-4">
        <div class="container">
            <a class="navbar-brand" href="#">SnowTricks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Figures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Connexion</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>

    <div class="wrap position-relative image" style="background-image: url('{{ asset('images/homepage.jpg') }}')">
        <div class="position-absolute top-50 start-0 bottom-0 end-0">
            <div class="container text-center text-md-start">
                <h1 class="display-3 fw-bold text-uppercase">SnowTricks</h1>
                <p class="mb-0 h5 fw-bold">Partagez votre passion du snowboard</p>
            </div>
        </div>
    </div>
</header>