/* COLORS */
$primary:       #0073E6;
$link-color:    #f57600;
$secondary:     #A7AABC;
$success:       #6FFACC;
$info:          #8656EE;
$warning:       #FF8F7F;
$danger:        #EF0056;
$light:         #d9e4ff;
$dark:          #434656;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "action":     $link-color,
);

/* TYPOGRAPHIE */
$font-family-base: 'Lato', sans-serif;
$line-height-base: 1.6;
$body-color: #4f4f4f;
$link-decoration: none;

/* BUTTON */
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-width: 3px;

/* FORMULAIRE */
$input-border-radius: 0;
$form-label-margin-bottom: 0.25rem;
$form-label-font-weight: bold;

/* LIST */
$list-group-border-width: 0;

/* ALERT */
$alert-border-radius: 0;

/* DROPDOWN */
$caret-width: 0;
$dropdown-border-radius: 0;
$dropdown-border-width: 0;

/* TOASTS */
$toast-border-width: 0;

.wrap {
    max-width: 1440px;
    margin: auto;

    &.image {
        height: 700px;
        background-attachment: fixed;
        background-position: bottom;
    }
}

#navbar {
    transition: background-color 0.15s, padding 0.15s;
}

.z-index-5 {
    z-index: 50;
}

@media all and (min-width: 320px) {
    img.scale {
        transform: skew(-7deg) scale(0.92);
    }
}

@media all and (min-width: 768px) {
    img.scale {
        transform: skew(-7deg);
    }
}

.scale {
    transform: skew(-7deg);
}

.badge-category {
    cursor: pointer;
}

@import "~bootstrap/scss/bootstrap";