{% extends 'emails/base.html.twig' %}
    
{% block content %}
    <h2 class="card-subtitle">Bonjour {{ username }} !</h2>
    <p>Votre compte a été bloqué le {{ blocked.createdAt | date('d/m/Y') }} pour la raison suivante : </p>
    <p>{{ blocked.reason }}</p>
{% endblock %}