{% apply inline_css(source('@styles/email.css')) %}
    <section class="card-email">
        <div class="container-email">
            <header class="card-header">
                <h1 class="card-title">SnowTricks</h1>
            </header>

            <div class="card-body">
                <h2 class="card-subtitle">Bonjour {{ username }} !</h2>
                <p>Vous avez fait une demande pour modifier votre mot de passe, le {{ resetPassword.createdAt | date('d/m/Y') }}</p>
                <p>Il vous suffit de suivre ce <a href="{{ path }}">lien</a>.</p>
                <p>Vous avez jusqu'au {{ resetPassword.expiredAt | date('d/m/Y') }} pour modifier votre mot de passe.</p>
            </div>
        </div>
    </section>
{% endapply %}