<div{{ attributes }}>
    
    <div class="row g-5 mb-4" data-model="on(change)|tricks">
        {% for trick in this.tricks %}
            {{ component('card_trick', {
                'trick': trick
            }) }}
        {% endfor %}
    </div>

    {% if this.showButton %}
    <button class="btn btn-outline-primary scale"
            data-action-name="increment()"
            data-action="live#action">Plus de figures
            
        <div    data-loading 
                class="ms-3 spinner-border spinner-border-sm" 
                role="status">
            <span class="visually-hidden">Loading</span>
        </div>
        
    </button>
    {% endif %}

</div>
